table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-id {
    text-align: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .table-header {
    font-weight: bold;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .table-data {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .table-icon {
    color: blue;
    cursor: pointer;
  }