.footer {
  background-color: #ffffff;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); 
  min-height: 60px; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 64px; 

}

.nav-links {
  display: flex;
}

.nav-links a {
  margin-right: 16px; /* Espaçamento entre os links de navegação */
  text-decoration: none;
  color: #333333; /* Cor do texto dos links */
}

.nav-links a:hover {
  text-decoration: underline; /* Sublinhado nos links em hover */
}

.copyright {
  margin-top: auto; /* Empurra o texto para o fim do footer */
}