:root {
  --primary-color: #2278C7;
  --secondary-color: #60798F;
  --text-color: #333;
  --light-color: #ececec; 
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    background-color: var(--light-color);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.router-view {
    flex-grow: 1;
}